*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  
}



#title {
    font-size: 400%;
    width: 60vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image {
    max-width: 70%;
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px black;
  }

  #image:hover{
    scale: 0.7;
    transition-duration: 5s;
    cursor: pointer;
  }
  #bottom{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width:480px)
  {

  }

  @media only screen and (min-width:767px)
  {

  }

  @media only screen and (min-width:991px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 200px 15px 200px;
        }
  }

  @media(orientation: landscape)
  {

  }